<div class="jumbotron">
  <div class="container">
    <h1 class="display-title">Computer Science &amp; Software Courses</h1>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% courses.each do |course| %>
      <%= render_partial '_card', title: course.title, description: course.description, link: course.link, link_text: 'Start this course', external_link: false %>
    <% end %>
  </div>
</div>
