<div class="jumbotron">
  <div class="container">
    <h1 class="display-title text-center">Computer Science &amp; Software Courses</h1>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @categories.each do |category| %>
      <%= render_partial '_card', object: category, link_text: 'Start this category', external_link: false %>
    <% end %>
  </div>
</div>
