<div class="jumbotron">
  <div class="container">
    <h1 class="display-title">Courses in <%= category.capitalize %></h1>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% courses.each do |course| %>
      <%= render_partial '_card', object: course, link_text: 'Start this course', external_link: false %>
    <% end %>
  </div>
</div>
