<div class="card-wrapper col-md-4 col-sm-6">
  <div class="card">
    <img class="card-img-top" style="width: 100%" src="https://bytesizemoments.com/wp-content/uploads/2014/04/placeholder.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title"><%= title %></h4>
      <p class="card-text"><%= description %></p>
      <a href="<%= link %>" class="btn btn-primary" <% if external_link %>target="_blank"<% end %>><%= link_text %></a>
    </div>
  </div>
</div>
