<div class="jumbotron">
  <div class="container">
    <h1 class="display-title"><%= course.title %></h1>
    <p><%= course.description %></p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>

<div class="container">
  <%= render_partial '_breadcrumbs', crumbs: {
    "Courses" => "/",
    course.title => nil
  } %>

  <div class="cards">
    <% course.sections.each do |section| %>
      <%= render_partial '_card', object: section, link_text: 'View this section', external_link: false %>
    <% end %>
  </div>
</div>