.navbar { border-radius: 0 !important; }

.cards .card-wrapper:nth-child(3n) {
  padding-right: 0;
  padding-left: 7px;
}

.cards .card-wrapper:nth-child(3n+2) {
  padding-right: 7px;
  padding-left: 7px;
}

.cards .card-wrapper:nth-child(3n+1) {
  padding-left: 0;
  padding-right: 7px;
}
